<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>지도</title>
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/modal.css')}}" rel="stylesheet">
</head>
<body>
<div id="modal">
<button id="modal_select_btn" style="position: absolute; font-size:22px">기존 정보 테이블 보기</button>
<button id="modal_input_btn" style="margin-left:230px;position: absolute; font-size:22px;">신규입력 테이블 보기</button>
    <div id="modal_close">X</div>
    <table class="styled-table">
        <thead>
            <tr>
                <th>사고유형</th>
                <th>접수일자</th>
                <th>접수시간</th>
                <th>접수내용</th>
                <th>지역</th>
                <th>제보시점</th>
                <th>어디에서(방향)</th>
                <th>방향</th>
                <th>차로</th>
                <th>위도</th>
                <th>경도</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="map_wrap">
    <div id="map" style="width:80%;height:100%;position:relative;overflow:hidden;"></div>

    <div id="menu_wrap" class="bg_white">
        <div class="option">
            <img style="height:50px; width: 170px;" src="{{ url_for('static', filename='css/image/logo.png')}}">
            <br>
            <div>
                <form onsubmit="searchPlaces(); return false;">
                    위치 : <input type="text" value="" id="keyword" size="15"> 
                    <button type="submit">검색</button> 
                </form>
            </div>
        </div>
        <hr>
        <ul id="placesList"></ul>
        <div id="pagination"></div>
    </div>
    <ul id="icon-menu">
        <li>
            <form method="get" onsubmit="request_file()">
                <button type="submit">
                    <img src="{{url_for('static', filename='css/image/save-icon.png')}}">
                </button>
            </form>
        </li>
    </ul>
    <script src="https://code.jquery.com/jquery-latest.min.js" type="application/javascript"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d4edd1ab43420b99fe7325a2b544d2bb&libraries=services"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d4edd1ab43420b99fe7325a2b544d2bb"></script>
    <script src="{{url_for('static', filename='js/load_map.js')}}"></script>
    {% extends 'region_select.html' %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
