<!DOCTYPE html>
<html>
<head>
    <script src="{{url_for('static', filename='js/load_region.js')}}"></script>
    <script src="{{url_for('static', filename='js/select_region_process.js')}}"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />  
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>  
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
</head>
<body>
  <div id="select-wrapper">
  <form id="selform_contents">
    <div id="select-back">
        조회하려는 조건을 선택하세요
    </div>
        <p>조회 날짜 : <input type="text" id="Date1" readonly="readonly">~<input type="text" id="Date2" readonly="readonly"></p>
        <select id="time">
          <option value="주간">주간</option>
          <option value="야간">야간</option>
        </select>
        <select id="type">
          <option value="사고">사고</option>
          <option value="공사">공사</option>
          <option value="정체">정체</option>
          <option value="원활">원활</option>
          <option value="기타">기타</option>
        </select>
        <select id="sido">
          <option value="">시/도 선택</option>
        </select>
        <select id="sigugun">
          <option value="">시/군/구 선택</option>
        </select>
        <!--select id="dong">
          <option value="">읍/면/동 선택</option>
        </-select-->
        <input id="selectsubmitbtn" type="submit" value="입력" onclick="region_submit()"></input>
  </form>
  <span id="marker_btn_all">
    <button id="item1" onclick="removing_resmarker();">
      검색 마커 지우기
    </button>
    <button id="item2" onclick="removing_selmarker();">조회 지역 마커 지우기</button>
    <button id="item3" onclick="removing_allmarker();">모든 마커 지우기</button>
    <button id="item4">교통 정보 표시</button>
    <button id="item5">데이터 조회 및 편집</button>
    <button id="item6">빈 공간1</button>
  </span>
</div>
</body>
</html>